

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  html, body {
  	margin: 0;
  	padding: 0;
} */

p, h1, h3, h4 {
	font-family: Courier New;
}

p {
	padding: 0;
	margin: 0;
	font-size: 15px;
}

h1 {
	font-size: 50px;
	padding: 0 0 20px 0;
}

.jumbotron {
	background-color: #292447;
	margin: 0 0;
    height: 100vh;
}

.jumbotron img {
		width: 187px;
		height: 181px;
	  position: absolute;
    top: 50%;
    left: 50%;
    -ms-transfrom: translate(-50%, -50%);
    -moz-transfrom: translate(-50%, -50%);
    -o-transfrom: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about {
	padding: 100px 0;
	background-color: #D3CED8;
}

.fa-code {
	display:inline-block;
    text-align: center;
    vertical-align: bottom;
}

.fa-code:before {
	font-size: 275px;
	line-height: 325px;
}

.portfolio {
	display: block;
	padding: 100px 0;
	background-color: #ECF0F1;
}


.portfolio img {
	padding: 10px 20px;
	/*height: 225px;*/
	/*width: 300px;*/
}

.portfolio a {
	text-decoration: none;
	color: #292447;
}

.portfolio a:hover {
	text-decoration: none;
	/*color: #D3CED8;*/
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.btn-portfolio-link {
	border: 1px solid #292447;
}

.btn-portfolio-link:hover {
	border: 1px solid #D3CED8;
}

.social {
	background-color:#413C5E;
	min-height: 250px;
}

.social h1 {
	display: block;
	color: #ECF0F1;
	padding: 25px 0;
}

.social ul {
	padding: 0;
}

.social li {
	display: inline-block;
	padding: 0 15px;
}

.social i {
	color: #ECF0F1;
}

 .social i:hover {
 	color: #D3CED8;
}

footer {
	padding: 5px 0 10px 15px;
	background-color: #413C5E;
	color: #ECF0F1;
}

/* Small devices (tablets, 768px and up) */
@media(max-width:767px) {

	h1 {
	font-size: 38px;
	padding: 0 0 10px 0;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 25px;
	padding: 0 0 10px 0;
}

.about {
	padding: 20px 0;
}

.fa-code:before {
	font-size: 150px;
	line-height: 200px;
}

.portfolio {
	padding: 20px 0;
}

.btn-portfolio-link {
	margin: 10px 0 30px 0;
}

.portfolio h1 {
	padding: 0 0 40px;
}

.contact-form {
	padding: 20px 0;
}


 }



